body {
    Font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4,h5,h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: medium;
}
.social {
    width: 32px;
    height: auto;
}
#map {
    width: 100%;
    height: 400px;
}
