@font-face {
  font-family: megabold;
  src: url(/fonts/gobold_bold.otf);
}
a {
  color: #df3c75;
}
a:hover {
  color: #df3c75;
}
body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: megabold, sans-serif;
  font-weight: 700;
}

#menumobil {
  z-index: 1000;
}

.social {
  width: 32px;
  height: auto;
}

#map {
  width: 100%;
  height: 400px;
}

#missatgeMerci {
  display: none;
}
#botoEnvia {
  display: none;
}

.top-bar {
  background-color: black;
}

.menutop {
  padding: 1em 0;
  border-bottom: 1px solid #999;
}
.menutop2 {
  position: absolute;
  padding: 1em 0;
  border-bottom: 1px solid #999;
  width: 100%;
  z-index: 1000;
}
.menutop2 a {
  color: white;
}
#llistamenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#llistamenu li {
  display: inline;
  margin: 0 1em;
}
.logo_portada {
  width: 50%;
  height: auto;
  margin: 1em 0.5em;
}
.presen {
  position: relative;
  margin-bottom: 2em;
  height: 700px;
}
.presen video {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.videopresen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  z-index: -1;
  overflow: hidden;
}
.presen .ent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(28, 31, 39, 0.6);
}

.ent {
  width: 100%;
  height: auto;
  position: absolute;
}
.centradissim {
  width: 50%;
  height: 80%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
.centradissim img {
  width: 25%;
  height: auto;
  padding: 2em;
}
.centradissim h1 {
  font-family: megabold;
  color: white;
}
.centradissim p {
  color: white;
  margin: 1em 0;
}
.botoblanc {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 1em;
  margin: 2em;
}
.centrat {
  margin: 2em 0 0 0;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .videopresen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  .presen {
    position: relative;
    margin-bottom: 2em;
    height: 700px;
    background-image: url(/img/portada_mobil.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .centradissim {
    width: auto;
  }
  .centradissim img {
    width: 70%;
    height: auto;
  }
  .centradissim h1 {
    margin: 1em 0 2em 0;
  }
  .menutop2 {
    background-color: black;
  }
}

.section-nav {
  border: 1px solid #df3c75;
  margin: 0;
  margin-bottom: 1em;
  padding: 1.25em;
}

.section-nav li {
  margin-left: 1em;
}

.embedded-video {
  object-fit: cover;
  height: 315px !important;
}
