<div class="cell large-auto text-center"><a href="/">Inici</a></div>
<div class="cell large-auto text-center"><a href="/manifest/">Manifest</a></div>
<div class="cell large-auto text-center"><a href="/agenda/">Actes</a></div>
<div class="cell large-auto text-center"><a href="/empaperem/">Empaperem</a></div>
<div class="cell large-auto text-center"><a href="/apoderats/">Fes-te
    apoderat!</a></div>
<div class="cell large-auto text-center"><a href="/faqs/">FAQS</a></div>
<div class="cell large-auto text-center"><a href="/contacta/">Contacta</a></div>