<div class="title-bar" data-responsive-toggle="barra_superior" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menú</div>
</div>

<div class="menutop" id="barra_superior">
<div class="grid-container">
  <div class="grid-x">
  <div class="cell large-auto text-center"><a href="/">Inici</a></div>
      <div class="cell large-auto text-center"><a href="/manifest/">Manifest</a></div>
  <!--<div class="cell large-auto text-center">Candidatures</div>-->
  <div class="cell large-auto text-center"><a href="/apoderats/">Fes-te apoderat!</a></div>
  <!--<div class="cell large-auto text-center">Premsa</div>-->
  <div class="cell large-auto text-center"><a href="/contacta/">Contacta</a></div>
       <div class="cell large-auto text-center"><a href="/empaperem/">Empaperem</a></div>
</div>
</div>
    </div>
